@charset "utf-8";
/* CSS Document */

/*This is to give the div mainWrapper a bacground and size*/
#mainWrapper{
	width:1200px;
	height: 100%;
	background-color: lightblue;
	margin: 0 auto;
	    }

/*This is so that the padding and border added later dont't add to my overall box size*/
*{
	box-sizing: border-box;
}

header{
	width: 1200px;
	height: 90px;
	background-color: #FAFAD2;
	margin: 0px;
	padding: 2px;
	border-bottom-style: ridge;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }


nav{
	width: 1200px;
	height: 65px;
	background-color: darkorange;
	margin: 0px;
	padding: 10px 350px 10px 420px;
	border-style: double;
	/*text-align: center;*/
	font-family: Arial, Helvetica, sans-serif;
   }

ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	}

li{
	/*float: left;*/
	display: inline-block;
	width: 120px;
	text-align: center;
  }

#mainFood{
	width: 700px ;
	height: 295px;
	background-color: lavenderblush;
	margin: 20px 10px 10px 20px;
	padding: 10px 10px 10px 10px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	/*text-align: center;*/
  }


#otherPages{
	width: 420px;
	height: 295px;
	background-color:lavenderblush;
	margin: 20px 20px 10px 10px;
	padding: 10px 10px 10px 10px;
	float: right;
	text-align: center;
	}

.otherPages2{
	height: 65px;
	width: 150px;
	margin: 5px 5px 5px 5px;
	padding: 15px 5px 5px 5px;
	display: inline-block;
	background-color: lightblue;
	border: 5px groove red;
	border-radius: 8px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.foods{
	height: 375px;
	width: 380px;
	margin: 10px 10px 20px 10px;
	padding: 10px 10px 10px 10px;
	background-color: lavenderblush;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	float: left;
}

#additionalInfo{
	height: 375px;
	width: 380px;
	margin: 10px 10px 20px 10px;
	padding: 10px 10px 10px 10px;
	background-color: lavenderblush;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	float: left;
}

h4{
	color: darkblue;
}

#download{
	height: 120px;
	width: 1180px;
	margin: 20px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	background-color: lavenderblush;
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	color: red;
	line-height: .8;
	text-align: center;
	
}

#menu2{
	height: 65px;
	width: 150px;
	padding: 5px 10px 5px 10px;
	background-color: lightblue;
	border: medium double blue;
	border-radius: 8px;
}

footer{
	height: 65px;
	width: 1180px;
	margin: 5px 5px 5px 5px;
	padding: 25px 10px 10px 10px;
	background-color: #FAfad2;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}












